body {
	background-color:#4BB1CF;
}
.container {
	margin-top:2em;
	margin-bottom: 2em;
	padding:2em;
	background-color: white;
}
.header {
	margin-bottom: 3em;
	border-bottom:1px solid #CCC;
	color:white;
	height: 40%;
	background:url(../img/cover.jpg) no-repeat;
	background-size:cover;
}
footer {
	margin-top:2em;
}
.author ul {
	list-style: none;
	margin: 0;
}
